@charset "utf-8";
/* CSS Document */
body {
	/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 13px;
	color: #000;
	width: 1140px;
	margin: 10px auto;
}
a {
	color: #0000ff;
}
.table-1 {
	border-collapse: collapse;
}
.table-1 th {
	color: #fff;
	border: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #336666;
}
.table-1 th a {
	text-decoration: none;
	color: #fff;
}
.table-1 td {
	border: 1px solid #C1DAD7;
	background: #fff;
	font-size: 13px;
	padding: 6px 6px 6px 12px;
	color: #000;
}
.head {
	width: 1140px;
	background: url(/fda/sch.jpg) no-repeat right bottom;
	border: 1px solid #AABCCF;
	line-height: 20px;
	height: 80px;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	font-size: 13px;
}
.interval {
	margin-left: 10px;
	margin-right: 10px;
}
.nav {
	color: #4f6b72;
	line-height: 30px;
}
.nav .number {
	color: #FF0000;
}
.term {
	color: #FF0000;
	margin: 10px 0px 10px 0px;
}
.title {
	line-height: 30px;
	height: 30px;
	font-size: 13px;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	padding-left: 20px;
	background: url(/images/p2.gif) no-repeat left center;
}
.reference {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	color: #333;
}
.link {
	font-size: 13px;
}
.lh20 {
	line-height: 20px;
}
.box1 {
	font-size: 15px;
	font-weight: bold;
	color: #4013F2;
	border: 1px solid #CCCCCC;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
}
.box2 {
	font-size: 15px;
	font-weight: bold;
	color: #4013F2;
	border: 1px solid #CCCCCC;
	background: #CCCCCC;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
}
#related ul{
margin:5px auto;
}
#related li
{
list-style:none;
line-height:20px;
float:left;
margin:0px 2px 0px 2px;
}
