#include('head.html',{title:'', nav:'home'})

<div class="uk-background-muted" style="margin-top:15px;">
	<div class="uk-container">
		<div class="uk-margin">
			<form class="uk-search uk-search-default uk-width-1-1 awesomplete" action="/search">
<!--				<a href="/search" class="uk-search-icon-flip" data-uk-search-icon></a>-->
				<a id="searchBtn" onclick="search11()" class="uk-search-icon-flip" data-uk-search-icon></a>
				<input id="search" name="search" class="uk-search-input uk-search-default uk-width-1-1 uk-form-large" type="search" placeholder="输入药物/疾病名称" autocomplete="off" data-minchars="1" data-maxitems="30" >
			</form>
		</div>
	</div>
</div>

<section class="uk-section uk-background-muted">
	<div class="uk-container uk-text-center">

		<h1 class="uk-heading-primary uk-margin-medium-bottom" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium;">Pre-Drug 药物重定位</h1>

		<div>
			<img src="/img/2.gif">
		</div>
		<div class="uk-grid-collapse uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match uk-text-center" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 80">
			<div>
				<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
					<span data-uk-icon="icon: comments; ratio: 3"></span>
					<p class="uk-margin-medium-top">新冠专题</p>
				</a>
			</div>
			<div>
				<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
					<span data-uk-icon="icon: settings; ratio: 3"></span>
					<p class="uk-margin-medium-top">疾病潜在可治疗药物预测</p>
				</a>
			</div>
			<div>
				<a href="search-cpi" class="uk-card card-box uk-card-body uk-border-rounded">
					<span data-uk-icon="icon: code; ratio: 3"></span>
					<p class="uk-margin-medium-top">化合物-蛋白质相互作用</p>
				</a>
			</div>
			<div>
				<a href="search" class="uk-card card-box uk-card-body uk-border-rounded">
					<span data-uk-icon="icon: search; ratio: 3"></span>
					<p class="uk-margin-medium-top">数据检索</p>
				</a>
			</div>

		</div>

	</div>
</section>

<section class="uk-section">
	<div class="uk-container">
		<div class="uk-grid-divider uk-grid-large uk-child-width-1-2@m" data-uk-grid>

			<div>
				<div class="uk-flex uk-flex-middle" data-uk-grid>
					<div class="uk-width-auto uk-text-primary">
						<span data-uk-icon="icon: mail; ratio: 2"></span>
					</div>
					<div class="uk-width-4-5">
						<h5 class="margin-xsmall-bottom">Need more help?</h5>
						<p class="uk-margin-remove uk-link-reset">Get in touch with us, support is provided daily <a class="button-link" href="contact.html">contact us</a></p>
					</div>
				</div>
			</div>

			<div>
				<div class="uk-flex uk-flex-middle" data-uk-grid>
					<div class="uk-width-auto uk-text-primary">
						<span data-uk-icon="icon: receiver; ratio: 2"></span>
					</div>
					<div class="uk-width-4-5">
						<h5 class="margin-xsmall-bottom">Interested in our products?</h5>
						<p class="uk-margin-remove">Our sales representatives can help you chose <a class="button-link" href="contact.html">call us</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<footer class="uk-section uk-section-muted" style="padding-bottom:10px;">
	#include('bottom.html')
</footer>
#include('mobile.html',{nav:'home'})

<script src="/js/awesomplete.js"></script>
<script>

</script>
<!--<script>-->
<!--	var input = document.getElementById("search");-->

<!--	input.addEventListener("awesomplete-selectcomplete", function(e) {-->
<!--		window.location.href = e.text.value;-->
<!--	}, false);-->

<!--	new Awesomplete(input, {-->
<!--		container: function (tag) {-->
<!--			return ".awesomplete";-->
<!--		},-->
<!--		autoFirst: true,-->
<!--		list: [-->
<!--			{ label: "How do I enable payment gateway?", 					value: "article.html" },-->
<!--			{ label: "What happens if I clear cache?", 						value: "article1.html" },-->
<!--			{ label: "Which payment methods do you offer?", 				value: "article.html" },-->
<!--			{ label: "How long does it take to propagate DNS settings?", 	value: "article.html" },-->
<!--			{ label: "How can I force SSL certificate?", 					value: "article.html" }-->
<!--		],-->
<!--		replace: function(suggestion) {-->
<!--			this.input.value = suggestion.label;-->
<!--		}-->
<!--	});-->
<!--</script>-->

</body>

</html>
