<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
	<div class="uk-offcanvas-bar">

		<button class="uk-offcanvas-close" type="button" data-uk-close></button>

		<ul class="uk-nav uk-nav-primary uk-nav-offcanvas">
			<li class="uk-nav-header uk-logo uk-margin-bottom">PRE-DRUG</li>
			<li class="${nav=='home'?'uk-active':''}"><a href="/index">主页</a></li>
			<li class="${nav=='faq'?'uk-active':''}"><a href="/">Faq</a></li>
			<!-- <li ><a href="blog.html">Blog</a></li> -->
			<!-- <li ><a href="changelog.html">Changelog</a></li> -->
			<li class="${nav=='drug'?'uk-active':''}"><a href="/search">药物信息</a></li>
		</ul>

	</div>
</div>